
/* Buttons Style */
.btn{
    color: var(--light1);
}
.btn-rounded{
    border-radius: 50px;
}

/* padding and margin */

.pf-1{
    padding: 1rem;
}
.pf-2{
    padding: 2rem;
}
.pf-3{
    padding: 3rem;
}
.pf-4{
    padding: 4rem;
}
.pf-5{
    padding: 5rem;
}

.mf-1{
    margin: 1rem;
}
.mf-2{
    margin: 2rem;
}
.mf-3{
    margin: 3rem;
}
.mf-4{
    margin: 4rem;
}
.mf-5{
    margin: 5rem;
}