:root{
    --dark1: #121212;
    --dark2: #222222;
    --dark3: #666666;
    --dark4: #999999;
    --light1: #ffffff;
    --light2: #fefefe;
    --light3: #cccccc;
    --color1: #7800D7;
    --color2: #9917ff;
    --color3: #1A002F;
    --color4: #2B004D;
    --color5: #4F3365;

    --dark1op8: #121212cc;
    --dark2op8: #222222cc;
    --dark3op8: #666666cc;
    --dark4op8: #999999cc;
    --light1op8: #ffffffcc;
    --light2op8: #fefefecc;
    --light3op8: #cccccccc;
    --color1op8: #7800D7cc;
    --color2op8: #9917ffcc;
    --color3op8: #1A002Fcc;
    --color4op8: #2B004Dcc;
    --color5op8: #4F3365cc;
    --color5op4: rgba(79, 51, 101, 0.4);

    --degrade1: linear-gradient(125deg, var(--color1) 30%, var(--color2) 60%, var(--color2) 100%);

}

/* Background colors */
.bg-dark1{
    background-color: var(--dark1);
}
.bg-dark2{
    background-color: var(--dark2);
}
.bg-dark3{
    background-color: var(--dark3);
}
.bg-dark4{
    background-color: var(--dark4);
}
.bg-light1{
    background-color: var(--light1);
}
.bg-light2{
    background-color: var(--light2);
}
.bg-light3{
    background-color: var(--light3);
}
.bg-color1{
    background-color: var(--color1);
}
.bg-color2{
    background-color: var(--color2);
}
.bg-color3{
    background-color: var(--color3);
}
.bg-color4{
    background-color: var(--color4);
}
.bg-color5{
    background-color: var(--color5);
}

.bg-degrade1{
    background: var(--degrade1);
}

/* Text colors */
.txt-dark1{
    color: var(--dark1);
}
.txt-dark2{
    color: var(--dark2);
}
.txt-dark3{
    color: var(--dark3);
}
.txt-dark4{
    color: var(--dark4);
}
.txt-light1{
    color: var(--light1);
}
.txt-light2{
    color: var(--light2);
}
.txt-light3{
    color: var(--light3);
}
.txt-color1{
    color: var(--color1);
}
.txt-color2{
    color: var(--color2);
}
.txt-color3{
    color: var(--color3);
}
.txt-color4{
    color: var(--color4);
}
.txt-color5{
    color: var(--color5);
}

/* Buttons Style */
.btn{
    color: var(--light1);
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-pill{
    border-radius: 50px;
}
.btn-rounded{
    border-radius: 10px;
}

/* Buttons pre-defined */
.btn-style1{
    background: rgba(246, 234, 255, 0.02);
    border: 1px solid rgba(246, 234, 255, 0.24);
    border-radius: 10px;
    outline: none;
}

.btn-style1:hover, .btn-style1:focus, .btn-style1:active{
    background: rgba(246, 234, 255, 0.10);
}

.btn-d-style1{
    background: var(--degrade1);
    border-radius: 10px;
    box-shadow: 0px 20px 20px -20px #7800D7a1;
    text-align: center;
    justify-content: center;
    font-size: 14pt;
    transition: all 1s ease-out;
    background-repeat: repeat-y;
    background-size: 100% 600px;
    background-position: 0 -300px;
    border: none;
}

.btn-d-style1:hover, .btn-d-style1:focus, .btn-d-style1:active{
    background-position: 0 0;
    cursor: pointer;
    box-shadow: 0px 20px 15px -20px var(--color2);
    border: none;
}

.btn-style2{
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(246, 234, 255, .8);
    box-shadow: 2px 2px 4px 0 var(--light1);
    text-align: center;
    justify-content: center;
    font-size: 14pt;
    transition: all 1s ease-out;
    background-repeat: repeat-y;
    background-size: 100% 600px;
    background-position: 0 -300px;
}
.btn-style2:hover, .btn-style2:focus, .btn-style2:active{
    background: var(--color5);
}


/* Buttons colors */
.btn-dark1{
    color: var(--light1);
    background-color: var(--dark1);
}
.btn-dark2{
    color: var(--light1);
    background-color: var(--dark2);
}
.btn-dark3{
    color: var(--light1);
    background-color: var(--dark3);
}
.btn-dark4{
    color: var(--light1);
    background-color: var(--dark4);
}
.btn-light1{
    color: var(--dark);
    background-color: var(--light1);
}
.btn-light2{
    color: var(--dark);
    background-color: var(--light2);
}
.btn-light3{
    color: var(--dark);
    background-color: var(--light3);
}
.btn-color1{
    color: var(--light1);
    background-color: var(--color1);
}
.btn-color2{
    color: var(--light1);
    background-color: var(--color2);
}
.btn-color3{
    color: var(--light1);
    background-color: var(--color3);
}
.btn-color4{
    color: var(--light1);
    background-color: var(--color4);
}
.btn-color5{
    color: var(--light1);
    background-color: var(--color5);
}

/* Buttons hovers */
.btn-dark1:hover, .btn-dark1:focus{
    background-color: var(--dark1op8);
}
.btn-dark2:hover, .btn-dark2:focus{
    background-color: var(--dark2op8);
}
.btn-dark3:hover, .btn-dark3:focus{
    background-color: var(--dark3op8);
}
.btn-dark4:hover, .btn-dark4:focus{
    background-color: var(--dark4op8);
}
.btn-light1:hover, .btn-light1:focus{
    background-color: var(--light1op8);
}
.btn-light2:hover, .btn-light2:focus{
    background-color: var(--light2op8);
}
.btn-light3:hover, .btn-light3:focus{
    background-color: var(--light3op8);
}
.btn-color1:hover, .btn-color1:focus{
    background-color: var(--color1op8);
}
.btn-color2:hover, .btn-color2:focus{
    background-color: var(--color2op8);
}
.btn-color3:hover, .btn-color3:focus{
    background-color: var(--color3op8);
}
.btn-color4:hover, .btn-color4:focus{
    background-color: var(--color4op8);
}
.btn-color5:hover, .btn-color5:focus{
    background-color: var(--color5op8);
}

/* padding and margin */

.pf-1{
    padding: 1rem;
}
.pf-2{
    padding: 2rem;
}
.pf-3{
    padding: 3rem;
}
.pf-4{
    padding: 4rem;
}
.pf-5{
    padding: 5rem;
}

.mf-1{
    margin: 1rem;
}
.mf-2{
    margin: 2rem;
}
.mf-3{
    margin: 3rem;
}
.mf-4{
    margin: 4rem;
}
.mf-5{
    margin: 5rem;
}

/* input pre defined */

.input-style1{
    background: rgba(246, 234, 255, 0.02);
    border: 1px solid rgba(246, 234, 255, 0.24);
    border-radius: 10px;
    outline: none;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
}

.input-style1:hover, .input-style1:focus, .input-style1:active{
    background: rgba(246, 234, 255, 0.10);
}

/* font-size */

.ft-s-8{
    font-size: 8pt;
}

.ft-s-10{
    font-size: 10pt;
}

.ft-s-12{
    font-size: 12pt;
}

.ft-s-14{
    font-size: 14pt;
}

.ft-s-16{
    font-size: 16pt;
}

.ft-s-18{
    font-size: 18pt;
}

.ft-s-22{
    font-size: 22pt;
}

.gap-05{
    gap: .5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-15{
    gap: 1.5rem;
}
.gap-2{
    gap: 2rem;
}