.mosVagas h1{
    font-weight: 400;
    text-align: center;
    padding-top: 5rem;
    font-size: 20pt;
}

.mosVagas img{
    display: flex;
    padding: 5rem 0 0 53rem;
}

.card-vaga{
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    width: 105%;
    margin: 3rem 0 0 3rem;
    padding: 1rem;
    background-color: var(--color5 );
}

.vaga-habs{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0 0 0;
}

.card-vaga h2{
    font-weight: 400;
}