<div class="container cat_infos pf-2 section-center" id="cadastro">
    <h3 class="ft-s-14">Legal! Vamos cadastrar a empresa agora...<br>
        <span class="txt-dark4 ft-s-10">Preencha os campos abaixo:</span>
    </h3>
    <div class="inputs container">

        <div class="input-group">
            <label for="">Nome da empresa</label>
            <input type="text" name="nameCompany">
        </div>

        <div class="input-group">
            <label for="">CNPJ</label>
            <input type="text" id="cnpj" name="cnpj">
        </div>

        <div class="input-group">
            <label for="">Número de Telefone</label>
            <input type="text" name="phone_number" id="phone_number_company">
        </div>

        <div class="input-group">
            <label for="">Foto de Perfil</label>
            <input type="file" name="photo_profile">
        </div>

        <p class="error_message"></p>

        <button type="submit" id="cad-empresa-btn-button1" class="btn btn-rounded btn-d-style1">Próximo
        </button>
    </div>
</div>

