<div class="container cat_infos pf-2 section-center confirmEmail">
    <h3 class="ft-s-14">Legal! Vamos verificar seu e-mail agora... <br>
    <span class="txt-dark4 ft-s-10">Código foi enviado para o email gus***nes@gmail.com</span>
    </h3>
    <div class="inputs">
        <div class="confirm_code">
            <input class="input-style1" name="cod[1]">
            <input class="input-style1" name="cod[2]">
            <input class="input-style1" name="cod[3]">
            <input class="input-style1" name="cod[4]">
            <input class="input-style1" name="cod[5]">
        </div>
        <a href="" class="send_again">Enviar código novamente (60)</a>

        <p class="error_message"></p>
        
    </div>
    <div class="d-flex justify-content-center">
        <a href="" class="btn btn-rounded btn-style1">Voltar</a>
        <button type="submit" id="save_email" class="btn btn-rounded btn-style2"><i class="far fa-arrow-right"></i></button>
    </div>
</div>