<div class="container-fluid register-page">
    <h2>BEM-VINDO</h2>
    <h3>Aqui sua experiência será diferente,
        crie sua conta para começar!</h3>
    <div class="social-sign-up">
        <a href="" class="btn btn-style1">
            <img src="/View/assets/img/social/google-logo.png" alt="">
        </a>
    </div>
    <div class="or-separate">
        <span>OU</span>
        <div class="dash"></div>
    </div>
    <div class="inputs">
        <div class="input-group">
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="">
        </div>
        <div class="input-group">
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password">
        </div>

        <div class="input-group">
            <label for="con_password">Confirmar senha: </label>
            <input type="password" name="con_password" id="con_password ">
        </div>

        <p class="error_message"></p>
        
        <button type="submit" id="create_account" class="btn btn-rounded btn-d-style1">Começar</button>
    </div>
</div>