<div class="container-fluid pf-2 cat_infos section-center getName">
    <h3 class="ft-s-14">Bora se conhecer um pouquinho agora...</h3>
    <div class="inputs">
        <div class="input-group mt-2">
            <label for="name">Digite seu nome: </label>
            <input type="name" name="name" id="">
        </div>

        <p class="error_message"></p>
        
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" id="save_name" class="btn btn-rounded btn-style2"><i class="far fa-arrow-right"></i></button>
    </div>
</div>