<div id="informacoes" class="container cat_infos pf-2 section-center">
    <div class="inputs container">

        <div class="input-group">
            <label for="">Descrição</label>
            <textarea rows="6" name="description"></textarea>
        </div>

        <div class="input-group">
            <label for="">CEO</label>
            <input type="text" name="ceo">
        </div>

        <div class="input-group">
            <label for="">Data de Fundação</label>
            <input type="text" name="date_foundation" id="date_foundation">
        </div>

        <p class="error_message"></p>

        <button type="submit" id="cad-empresa-btn-button" class="btn btn-rounded btn-d-style1">Salvar</button>
    </div>
</div>


