<div class="container register-page">
    <h2>BEM-VINDO</h2>
    <h3>Legal ver você por aqui, bora ver umas vaguinhas...</h3>
    <div class="social-sign-up">
        <a href="" class="btn btn-style1">
            <img src="/View/assets/img/social/google-logo.png" alt="">
        </a>
    </div>
    <div class="or-separate">
        <span>OU</span>
        <div class="dash"></div>
    </div>
    <form class="inputs" method="post" action="/login">
        <div class="input-group">
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="">
        </div>
        <div class="input-group">
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password">
        </div>

        <p class="error_message"></p>

        <button type="submit" id="access_account" class="btn btn-rounded btn-d-style1">Acessar</button>
    </form>

    <p>Ainda não possui uma conta? <a href="/register">Criar conta</a></p>
</div>
