.img-empresa{
    justify-content: space-between;
    gap: 1rem;
    text-align:justify;
}

.img-empresa i{
    background-color: var(--color1);
    border-radius: 50%;
    height: 1.5vh;
}

.hero-company{
    height: 55vh;
    justify-content: flex-start;
}

.hero-company h1{  
    font-weight: 400;
}

@media (max-width: 425px){
    .hero-company{
        height: 42vh;
        justify-content: flex-start;
    }
}

