*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

body{
    color: var(--light1);
    background: linear-gradient(180deg, #110718 0%, #2D143F 80%);
    overflow: hidden;
    min-height: 100vh;
}

