<div class="cad-empresa" id="cadastro">
    <div class="title-page">
            <h1>Cadastrando Empresa</h1>
            <h2>Preencha os campos abaixo: </h2>
    </div>
        <div class="inputs container">

            <div class="input-group">
                <label for="">Nome</label>
                <input type="text" name="name">
            </div>
            
            <div class="input-group">
                <label for="">CNPJ</label>
                <input type="text" id="cnpj" name="cnpj">
            </div>

            <div class="input-group">
                <label for="">E-mail</label>
                <input type="email" name="email"></input>
            </div>

            <div class="input-group">
                <label for="">Senha</label>
                <input type="password" name="password"></input>
            </div>

            <p class="error_message"></p>

            <button type="submit" id="cad-empresa-btn-button1" class="btn btn-rounded btn-d-style1">Próximo
            </button>
        </div>
</div>

