<div id="informacoes" class="cad">
    <div class="inputs container">  
        <div class="input-group">
            <label for="">Número de Telefone</label>
            <input type="text" name="phone_number">
        </div>

        <div class="input-group">
            <label for="">Foto de Perfil</label>
            <input type="text" name="photo_profile">
        </div>

        <div class="input-group">
            <label for="">Descrição</label>
            <input type="text" name="description">
        </div>
        
        <div class="input-group">
            <label for="">CEO</label>
            <input type="text" name="ceo">
        </div>

        <div class="input-group">
            <label for="">Data de Fundação</label>
            <input type="text" name="date_foundation">
        </div>

        <button type="submit" id="cad-empresa-btn-button" class="btn btn-rounded btn-d-style1">Próximo
        </button>
    </div>
</div>


