.homeemalta{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.homeemalta h3{
    font-size: 15pt !important;
    font-weight: 400;
    position: relative;
    top: 3px;
}

.slideemalta{
    display: flex;
    flex-flow: nowrap;
    gap: 15px;
    overflow-x: auto;
}
.slideemalta::-webkit-scrollbar{
    background: transparent;
}

.el_vagas{
    min-width: 320px;
    max-width: 650px;
    width: 100%;
}

.element_slide .card-vaga{
    width: 100%;
}

.area{
    width: 4rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .8rem;
    padding: .8rem;
    border-radius: 10px;
}

.titleslide{
    font-size: 8pt;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
}

.area div{
    display: flex;
    justify-content: center;
    width: 100%;
}
