<div id="date" class="container cad-vaga">

    <div class="inputs">

        <div class="input-group">
            <label for="">Data de Abertura Da Vaga</label>
            <input type="text" id="open-date">
        </div>  

        <div class="input-group">
            <label for="">Data de Fechamento da Vaga</label>
            <input type="text" id="close-date">
        </div>

    </div>

    <button type="submit" id="cad-vaga-btn-button4" class="btn btn-rounded btn-d-style1">Próximo</button>

</div>