<div id="date" class="cad-vaga">
    <div class="inputs container">
        <div class="input-group">
            <label for="">Data de Abertura Da Vaga</label>
            <input type="text" id="open-date" name="open_date">
        </div>  

        <div class="input-group">
            <label for="">Data de Fechamento da Vaga</label>
            <input type="text" id="close-date" name="close_date">
        </div>
    </div>

    <p class="error_message"></p>

    <button type="submit" id="cad-vaga-btn-button4" class="btn btn-rounded btn-d-style1">Próximo</button>

</div>