<div id="salary" class="container cad-vaga">

    <div class="inputs">

        <div class="input-group">
            <label for="">Quantidade Máxima de Candidatos</label>
            <input type="number">
        </div>

        <div class="input-group">
            <label for="">Quantidade Minima de Candidatos</label>
            <input type="number">
        </div>

        <div class="input-group">
            <label for="">Sálario Minimo</label>
            <input type="text"  id="min-salary">
        </div>

        <div class="input-group">
            <label for="">Sálario Máximo</label>
            <input type="text" id="max-salary">
        </div>

        
        <div class="input-group">
            <label for="">Sálario Definido</label>
            <input type="text" id="start-salary">
        </div>

    </div>

    <button type="submit" id="cad-vaga-btn-button2" class="btn btn-rounded btn-d-style1">Próximo</button>

</div>